<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <uses-feature android:name="android.software.live_wallpaper" android:required="true" />
    <uses-permission android:name="android.permission.BIND_WALLPAPER" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">

        <service
            android:name=".wallpaper.RollingWallpaperService"
            android:label="@string/wallpaper_label"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" />
        </service>

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.SpinningIconActivity"
            android:label="Spinning Icons"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:exported="false" />

        <activity
            android:name=".ui.SpinningAppPickerActivity"
            android:label="Select Apps"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:exported="false" />

        <activity
            android:name=".ui.WallpaperPickerActivity"
            android:label="Select Wallpaper"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:exported="false" />

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/settings_label"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:exported="true" />

        <activity
            android:name=".ui.RollingSelectionActivity"
            android:label="Select Items"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:exported="false" />

        <activity
            android:name=".ui.ShapeSelectorActivity"
            android:label="Select Shape"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:exported="false" />

        <activity
            android:name=".ui.ShapeSelectionActivity"
            android:label="Select Items for Shape"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:exported="false" />


        <activity
            android:name=".ui.PhotoShowActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".ui.CustomizeActivity"
            android:label="Customize"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:exported="false" />

        <activity
            android:name=".ui.LauncherActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:stateNotNeeded="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>
</manifest>
